.banner{
    background-image: linear-gradient(rgba(0, 74, 117, 0.8), rgba(0, 74, 117, 0.7)), url(images/banner.jpg);
    width: 100%;
    height: 560px;
    margin-top: 4rem;
    padding-top: 50px;
}
.logos{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.box-text {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 4rem;
}
.box-text h1{
    font-weight: normal;
}
.box-text h3{
    font-weight: bolder;
}
.box-text p{
    margin-bottom: 0;
}
.box-text a {
    color: white;
    border-style: solid;
    border-color: white;
    padding: 10px 30px;
    margin-top: 1rem;
    
}
.box-text a:hover{
    color: #004a75;
    background-color: white;
    margin: 10px;
    text-decoration: none;
}
.help{
    background-color: #e5e5e5;
    padding: 4rem 0;
}
.help-text{
    justify-content: center;
    text-align: center;   
}
.help-text h1{
    margin-bottom: 20px;
}
.help-text p{
    margin-bottom: 0;
    font-weight: initial;
}
.card-container {
    /* display: flex; */
    margin: 3rem 0rem 0 0;
    justify-content: space-between;
    display: grid;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: repeat(6, 5rem);
    grid-gap: 1px;
}
.card-text{
    margin-top: 0;
}
.card-top{
    display: flex;
    justify-content: space-between;
}
.card1 {
    /* grid-column: 2/12;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto); */
    grid-column: 1/4;
    grid-row: 1/3;
    border-style: ridge;
    /* border-color: rgb(94, 89, 89); */
}
.card2{
    grid-column: 5/8;
    grid-row: 1/3;
    /* grid-column: 1/3; */
    border-style: ridge;
    margin: 0 2rem;
    /* border-color: rgb(94, 89, 89); */
}
.card3{
    grid-column: 9/12;
    grid-row: 1/3;
    border-style: ridge;
    /* border-color: rgb(94, 89, 89); */
}
.card4{
    grid-column: 1/4;
    grid-row: 4/6;
    border-style: ridge;
   
    /* border-color: rgb(94, 89, 89); */
}
.card5{
    grid-column: 5/8;
    grid-row: 4/6;
    border-style: ridge;
    margin: 0 2rem;
    /* border-color: rgb(94, 89, 89); */
}
.card6{
    grid-column: 9/12;
    grid-row: 4/6;
    border-style: ridge;
    /* border-color: rgb(94, 89, 89); */
}
.fa{
    margin-right: 20px;
    margin-top: 10px;
}
.card-top h6{
    margin-top: 10px;
    margin-left: 20px;
}
.card-text{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.card-text p{
    font-weight: lighter;
    font-size: 12px;
}

.footer{
    text-align: center;
    background-color: #2e3c6b;
    margin-top: 0;
    padding: 30px 0;
    color: white;
}
.up{
    padding-top: 20px;
}

.popup_custom{
    display: none;
    position: absolute;
    bottom: -910px;
    width: 40%;
    background-color: #007bc1;
    color : #fff;
    padding  : 30px;
    opacity: 0.9;
}

.close_position{
    float:right;
    font-weight:bold;
    cursor: pointer;
}

body{
    overflow-x: hidden;
}

.tos{
    padding-left:25%;
    padding-right: 20%;
    padding-top:10px;
    padding-bottom: 10px;
    z-index: 10;
    top: 0;
    /* position: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.term-of-condition{
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: white;
    margin-bottom: 20px;
}
@media (max-width: 460px) {
    .popup_custom {
        bottom: 0;
        width: 100%;
    }
    .card-container {
        margin-left: 0;
    }
    .card-text p{
        padding-bottom: 1rem;
    }
    .card1{
        grid-column: 1/8;
        grid-row: 1/3.5;
        /* margin-bottom: 2rem; */
    }
    .card2 {
        grid-column: 1/8;
        grid-row: 3/5;
        margin-right: 0;
        margin-left: 0;
        /* margin: 2rem 0; */
    }
    .card3{
        grid-column: 1/8;
        grid-row: 5/7;
    
    }
    .card4{
        grid-column: 1/8;
        grid-row: 7/9;
        margin: 2rem 0;
    }
    .card5{
        grid-column: 1/8;
        grid-row: 9/11;
        margin-right: 0;
        margin-left: 0;
    }
    .card6{
        grid-column: 1/8;
        grid-row: 11/13;
        margin-top: 2rem;
    }
    .tos{
        padding: 0.5rem;
    }
}

/* @media (min-width: 680px){
    .card1{
        grid-column: 1/6;
    }
    .card2 {
        grid-column: 7/12;
        margin: 0;
    }
    .card3{
        grid-column: 1/6;
        grid-row: 3/5;
    }
    .card4{
        grid-column: 7/12;
        grid-row: 3/5;
        
    }
    .card5{
        grid-column: 1/6;
        grid-row: 5/7;
        margin: 0;
    }
    .card6{
        grid-column: 7/12;
        grid-row: 5/7;
    }
} */

